.SearchBox {
  position: relative;
}

input {
  height: 35px;
  width: 250px;
}

img:last-child {
  top: 4px;
  position: absolute;
  left: 322px;
}

img {
  top: 2px;
  position: absolute;
  left: 318px;
}

img.hide {
  opacity: 0;
}